body, html {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
}

p.small {
  @include fontSize(0.75, 2);
}

.arrow {
  width: 24px;
  height: 24px;
  color: $gray-900;
  @include transition;
  &:hover {
    color: $success;
  }
}

// custom style
.addBtn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  span {
    display: inline-block;
    color: $success;
  }
}

.noticeBtn {
  font-size: 1rem;
  line-height: 2.063;
  padding: 8px 0;
}

.form-control {
  padding: 0.781rem 0.75rem;
}

.form-select {
  padding: 0.781rem 0.75rem;
  border-radius: 0;
  &:focus {
    border-color: none;
    box-shadow: 0 0 1rem 0.15rem rgb(25, 135, 84 / 10%);
    -webkit-box-shadow: 0 0 1rem 0.15rem rgb(25, 135, 84 / 10%);
  }
}

.table > :not(caption) > * > * {
  padding: 0.9rem 0.5rem;
}
