.dropdown {
  height: 32px;
  .btn {
    padding: 3px 12px;
  }
  .dropdown-toggle{
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      vertical-align: 0.125em;
      width: 24px;
      height: 24px;
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2248%22%20width%3D%2248%22%3E%3Cpath%20fill%3D%22rgb%2825%2C%20135%2C%2084%29%22%20d%3D%22m24%2030.75-12-12%202.15-2.15L24%2026.5l9.85-9.85L36%2018.8Z%22/%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: 50% 50%;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: none;
      @include transition(all, .3s ease 0s);
    }
    &:hover {
      &:after {
        display: inline-block;
        position: absolute;
        vertical-align: 0.125em;
        width: 24px;
        height: 24px;
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2248%22%20width%3D%2248%22%3E%3Cpath%20fill%3D%22rgb%280%2C%200%2C%200%29%22%20d%3D%22m24%2030.75-12-12%202.15-2.15L24%2026.5l9.85-9.85L36%2018.8Z%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 50% 50%;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
      }
    }
  }
}


// .dropdown .dropdown-toggle:after